<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Thymeleaf description" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/svg+xml" href="/images/logo.ico" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<title th:text="${title}">Pay My Buddy</title>
</head>


<body class="bg-zinc-50 text-zinc-800">

<th:block layout:fragment="content">
	<p>Contenu par défaut</p>
</th:block>
</body>
</html>
